.body{
    background-color: aquamarine;
}
.mynavbar{
    background-color: rgb(3, 106, 196);
}
.navbar-brand{
    text-align: right;
    color: white;
    padding: auto;
}
.logo{
    height: 100px;
    width: 100px;
}